@model TallerVehiculos.Models.Ciudades

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
<link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
<link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css"> 

<h1>Details</h1>

<div>
    <h4>Ciudades</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt> @Html.DisplayNameFor(model => model.SedesNumber) </dt> 
        <dd> @Html.DisplayFor(model => model.SedesNumber) </dd> 
    </dl>
</div>
<div> 
    <a asp-action="AddSede" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-plus"></i>Sede</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a> 
</div>
<hr/> 
<div class="row"> 
    <div class="col-md-12"> 
        <div class="panel panel-default"> 
            <div class="panel-heading"> 
                <h3 class="panel-title">Sedes</h3> 
            </div> 
            <div class="panel-body"> 
                <table class="table table-hover table-responsive table-striped" id="MyTable"> 
                    <thead> 
                        <tr> 
                            <th> @Html.DisplayNameFor(model => model.sedes.FirstOrDefault().nombre) </th> 
                            <th> @Html.DisplayNameFor(model => model.sedes.FirstOrDefault().direccion) </th>
                            <th> @Html.DisplayNameFor(model => model.sedes.FirstOrDefault().UsuariosNumber) </th>
                            <th></th> 
                        </tr> 
                    </thead> 
                    <tbody> 
                        @foreach (var item in Model.sedes) { 
                            <tr> 
                                <td> @Html.DisplayFor(modelItem => item.nombre) </td> 
                                <td> @Html.DisplayFor(modelItem => item.direccion) </td> 
                                <td> @Html.DisplayFor(modelItem => item.UsuariosNumber) </td> 
                                <td> 
                                    <a asp-action="EditSede" asp-route-id="@item.Id" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </a> 
                                    <a asp-action="DetailsSede" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-align-justify"></i></a>
                                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts { 
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } 
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>
    <script type="text/javascript"> 
        $(document).ready(function () { 
            $('#MyTable').DataTable();
            // Delete item sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Countries/DeleteDepartment/', false);
        }); 
    </script>
}